{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
  <main role="main">
    <div class="container-fluid center">
      <div id="latest_blog">
        <h3>Latest Blog Posts</h1>
      </div>
      <div class="row">
        <div class="col-12">
          {% for blogpost in blogposts.all %}
            <div class="card">
              <img class="card-img-top" src="{{ blogpost.image.url }}" alt="Card  image cap">
              <div class="card-body">
                <h5 class="card-title">{{ blogpost.title }}</h5>
                <p class="card-text">{{ blogpost.summary }}...</p>
                <a href="{% url 'detail' blogpost.pk %}" class="btn btn-dark btn-sm">Read more</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    </main>
{% endblock %}
