{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
  <main role="main">
    <div class="container-fluid center">
      <div id="latest_blog">

      </div>
      <div class="row">
        <div class="col-12">
          <h1>{{ blogpost.title }}</h1>
          <img class="img-fluid" src="{{ blogpost.image.url }}" alt="Responsive image">
          <br>
          <br>
          <p>{{ blogpost.body }}</p>
        </div>
      </div>
    </div>
    </main>
{% endblock %}
